/* tausta */

body {
  background-color: #DCDCDC;
  color: black;
}

/* pääteksti */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#peruskuvaus {
  position: relative;
  margin: 10% 20% 10% 20%;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
}

#yhteystiedot {
  position: relative;
  margin: 10% 20% 10% 20%;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
}

.otsikot {
  margin-bottom: 20px;
}


/* Sivupalkki */

#sivupalkki{
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 0px;
  background-color: teal;
  border-radius: 10px;
}

#sivupalkki img {
  width: 200px; 
}

.yht-tiedot {
  font-size: medium;
}

/* Kuvagalleria */

#galleria {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

#galleria img{
  width: 25%;
  height: auto;
  position: relative;
  margin: 15px;
  border-radius: 8px;
}

/* Kuvagalleria2 */

#kuva-galleria {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

#kuva-galleria img{
  width: 25%;
  height: auto;
  position: relative;
  margin: 15px;
  border-radius: 8px;
}

/* väliaikaista */

#suunnittelulomake {
  height: 150px;
  background-color: #DCDCDC;
  text-align: center;
  padding: 80px;
}