/* tausta */

body {
  background-color: #DCDCDC;
  color: black;
}

/* pääteksti */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#peruskuvaus {
  position: relative;
  margin: 10vh 20vw 20vh 20vw;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
}

#yhteystiedot {
  position: relative;
  margin: 10% 20% 10% 20%;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
}

.otsikot {
  margin-bottom: 20px;
}

/* Sivupalkki */

#sivupalkki{
  position: fixed;
  top: 4vh;
  right: 2vw;
  padding: 10px 0px;
  background-color: teal;
  border-radius: 10px;
}

#sivupalkki img {
  width: 15vw; 
}

.yht-tiedot {
  font-size: medium;
}

/* Hakemisto */

.hakemisto a {
  display: block;
  margin-bottom: 10px;
}

/* Kuvagalleria */

#galleria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 20px), 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 18vw;
  max-width: 1200px;

}

#galleria img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Kuvagalleria2 */

#kuva-galleria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 20px), 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 18vw;
  max-width: 1200px;
}

#kuva-galleria img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* väliaikaista */

#suunnittelulomake {
  height: 150px;
  background-color: #DCDCDC;
  text-align: center;
  padding: 80px;
}