body {
    background-color: #DCDCDC;
    color: black;
  }
  
  .center {
    text-align: center;
    font-size: 2em;
  }
  
  .top-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .under-h2 {
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .otsikot {
    margin-bottom: 20px;
  }
  
  .under-otsikko {
    margin-top: 0;
  }
  